.welcome {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero-title {
  width: 100%;
  font-size: 4rem;
  font-weight: bold;
  color: #1d70b6;
}

.hero-subtitle {
  font-size: 3.3rem;
}

/* Breakpoint: Up to 480px (mobile phones) */
@media (max-width: 480px) {
  .welcome {
    max-width: 250px;
    font-size: 1.5rem;
    top: 170px;
    left: 9rem;
  }
  .hero-title {
    font-size: 1.4rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    max-width: 200px;
  }
}

/* Breakpoint: 481px to 768px (tablets and small screens) */
@media (min-width: 481px) and (max-width: 768px) {
  .welcome {
    max-width: 320px;
    padding-left: 2rem;
  }
  .hero-title {
    width: 100%;
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    max-width: 260px;
  }
}

/* Breakpoint: 769px to 1024px (small laptops and large tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .welcome {
    max-width: 530px;
    top: 220px;
  }
  .hero-title {
    width: 100%; /* Ensures h2 takes full width */
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.6rem;
    max-width: 280px;
  }
}

/* Breakpoint: 1025px to 1200px (desktops and large screens) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .welcome {
    max-width: 530px;
    top: 270px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 2rem;
    max-width: 600px;
  }
}

/* Default styles for larger screens (1201px+) */
@media (min-width: 1201px) and (max-width: 1400px) {
  .welcome {
    max-width: 700px;
  }
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 2rem;
    max-width: 400px;
  }
}
