/* src/components/Projects.css */
.projects {
  background-image: url("../assets/images/bg-down.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  color: #3c3c3c;
  margin-bottom: 2rem;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 0 1rem; /* Add margin for spacing between cards */
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-info {
  margin-top: 1rem;
}

.project-info h3 {
  font-size: 1.5rem;
  color: #1d70b6;
}

.project-info p {
  font-size: 1rem;
  color: #3c3c3c;
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.carousel .react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.carousel .react-multi-carousel-list {
  padding: 0 1rem;
}
