/* src/components/Services.css */
.services {
  text-align: center;
  margin: 4rem 0;
}

.services h1 {
  margin: 3rem 0;
  font-weight: bolder;
  font-size: 2rem;
}

.service-cards {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping on smaller screens */
  gap: 2rem; /* Space between cards */
  justify-content: center; /* Center the cards */
  margin: 0 auto; /* Center the container */
}

.service-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 230px;
  text-align: center;
}

.service-image {
  width: 230px;
  height: 156px;
  display: block;
  margin: 0 auto;
}

.service-card h3 {
  text-align: left;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.service-card p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-align: justify;
  padding: 0 1rem 1rem;
}

/* Responsive Design */
@media (max-width: 480px) {
  .services h1 {
    font-size: 5rem;
  }

  .service-card {
    padding: 1rem;
  }

  .service-title {
    font-size: 1.3rem;
  }

  .service-description {
    font-size: 0.95rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .services h1 {
    font-size: 1.8rem;
  }

  .service-card {
    padding: 1.2rem;
  }
  
  .service-card {
    padding: 1rem;
    text-align: center;
  }

  .service-image {
    width: 200px;
    height: 136px;
    display: block;
    margin: 0 auto;
  }
  
  .service-card h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
    padding-left: 1rem;
  }
  
  .service-card p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: justify;
    padding: 0 1rem 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for tablets and small laptops */
  
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for desktops and large laptops */
}
