
.service-image {
  width: 250px;
  height: 176px;
  display: block;
  margin: 0 auto;
}

/* Responsive Design */

/* Mobile screens (max-width: 480px) */
@media (max-width: 480px) {
  .service-image {
    width: 100%; /* Full width of the card */
  }
}

/* Small screens (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .service-image {
    width: 200px;
    height: 126px;
  }
}

/* Medium screens (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .service-image {
    width: 200px;
    height: 126px;
    display: block;
    margin: 0 auto;
  }
}

/* Large screens (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .service-image {
    width: 200px;
    height: 126px;
    display: block;
    margin: 0 auto;
  }

}

/* Extra-large screens (1201px and above) */
@media (min-width: 1201px) and (max-width: 1400px) {
  .service-image {
    width: 200px;
    height: 126px;
    display: block;
    margin: 0 auto;
  }
}
