/* src/components/Card.css  */
.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  text-align: center;
  width: 300px;
}
.card h2 {
  text-align: left;
}

.card p {
  text-align: justify;
  padding: 0 2rem 0;
}

.card-image {
  width: 250px;
  height: 176px;
  display: block;
  margin: 0 auto;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding-left: 2rem;
  width: 190px;
}

.card-text {
  padding: 0 1rem 1rem;
  font-size: 1rem;
  color: #333;
}
