/* src/components/Industries.css */
.industries {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.industry-content {
  margin-left: 8rem;
}

.industries span {
  color: #1d70b6;
  font-size: larger;
}

.industries h2 {
  font-size: 2.5rem;
  color: #3c3c3c;
  margin-bottom: 2rem;
}

.industry-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.industry-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.industry-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-radius: 8px;
}

.industry-card h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #3c3c3c;
}

.industry-card p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #3c3c3c;
}

.read-more {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: red;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: red;
  color: white;
}
