.service-section {
  margin: 3rem 0;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.service-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.service-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.service-text {
  max-width: 800px;
}

.service-text p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

.service-text h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #1d70b6;
}

.service-text ul {
  list-style: none;
  padding: 0;
}

.service-text ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Breakpoint: Up to 480px (mobile phones) */
@media (max-width: 480px) {
  .service-section {
    padding: 1rem;
  }

  .service-section h2 {
    font-size: 1.5rem;
  }

  .service-content {
    flex-direction: column;
  }

  .service-img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .service-text {
    max-width: 100%;
  }

  .service-text p,
  .service-text ul li {
    font-size: 0.9rem;
  }
}

/* Breakpoint: 481px to 768px (tablets and small screens) */
@media (min-width: 481px) and (max-width: 768px) {
  .service-section {
    padding: 1rem;
  }

  .service-section h2 {
    font-size: 1.5rem;
  }

  .service-content {
    flex-direction: column;
  }

  .service-img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .service-text {
    max-width: 100%;
  }

  .service-text p,
  .service-text ul li {
    font-size: 0.9rem;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .service-content {
    flex-direction: row;
    align-items: flex-start;
  }
  .service-text p {
    font-size: 1rem;
  }
  .service-text ul li {
    font-size: 1rem;
  }
  .description-section {
    top: 70vh;
  }

  .service-img {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .service-text {
    margin-top: 1rem;
  }
}

/* Breakpoint: 1025px to 1200px (desktops and large screens) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .service-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .service-text p {
    font-size: 1rem;
  }
  .service-text ul li {
    font-size: 1rem;
  }

  .service-img {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .service-text {
    margin-top: 0;
  }
}

/* Default styles for larger screens (1201px+) */
@media (min-width: 1201px) and (max-width: 1400px) {
  .service-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .service-text p {
    font-size: 1rem;
  }
  .service-text ul li {
    font-size: 1rem;
  }

  .service-img {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .service-text {
    margin-top: 0;
  }
}
