/* src/components/Services.css */
.services {
  text-align: center;
  margin-top: 4rem;
}

.services h1 {
  margin: 3rem 0;
  font-weight: bolder;
  font-size: 4rem;
}

.service-cards {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping on smaller screens */
  gap: 1.5rem; /* Space between cards */
  justify-content: center; /* Center the cards */
  margin: 0 auto; /* Center the container */
}

.servive-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  text-align: center;
  width: 300px;
}

.service-image {
  border-radius: 8px;
  width: 250px;
  height: 176px;
}

.service-card h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.service-card p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #3c3c3c;
}
